

.box{
	text-align: center;
}
body{
	background-image: url('bird.jpg');
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: center center;
	background-attachment:fixed;
}
.panel-default{
	margin-top: 14%;
	margin-left: 20%;
	align-content: center;
width: 40%;
       background-color: powderblue;
}


