.panel-default{
	margin-top:7%;
	margin-left:20%;
	align-content:center;
width:40%;
      background-color:powderblue;
}

.box{
	text-align: center;
}

body{
	background-image: url('bird.jpg');
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: center center;
	background-attachment:fixed;
}
